body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Configurar o cabeçalho */
header{
    background-image: url('WhatsApp Image 2025-02-27 at 00.26.32.jpeg'); /* Caminho da imagem */
    background-size: 1400px 500px; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Alinha a imagem ao centro da tela */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    color: white;
    padding: 0%;
    text-align: center;
    width: 1358px;
   height: 400px;
}

/* Configurar foto de perfil */
.logo{
   background: #7c3201;
   width: 100px;
   height: 50px;
   border-radius: 100%;
   border: 3px solid #000000;
}
/*Configurar Barra de Pesquisa */
.menu {
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o padding */
    display: flex; /* Alinha os itens na horizontal */
    
  }
  
  .menu li {
    margin-right: 60px; /* Dá espaçamento entre os itens */
  }
  
  .menu li:last-child {
    margin-right: 0; /* Remove o espaço após o último item */
  }
  
  /* Estilizando os links */
  .menu a {
    text-decoration: none; /* Remove o sublinhado */
    color: #f4f4f4; /* Cor do texto (preto ou cinza escuro) */
    font-family: cursive; /* Definindo a fonte */
    font-size: 25px; /* Tamanho da fonte */
    background-color: #222;
    border: 2px solid#000000;
    padding: 05px 100px; /* Espaçamento interno do link */
    transition: color 0.3s ease; /* Transição suave para a cor no hover */

  }
  
  /* Estilo do link ao passar o mouse */
  .menu a:hover {
    background-color: #7c3201;
    color: red; /* Altera a cor para azul quando passar o mouse */
  }